<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Validacion</servlet-name>
        <servlet-class>EscuelaJavaEE.servlets.Validacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agregaralumno</servlet-name>
        <servlet-class>EscuelaJavaEE.servlets.Agregaralumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminaralumno</servlet-name>
        <servlet-class>EscuelaJavaEE.servlets.Eliminaralumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consultaralumno</servlet-name>
        <servlet-class>EscuelaJavaEE.servlets.Consultaralumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizaralumno</servlet-name>
        <servlet-class>EscuelaJavaEE.servlets.Actualizaralumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agregarmateria</servlet-name>
        <servlet-class>EscuelaJavaEE.servlets.Agregarmateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminarmateria</servlet-name>
        <servlet-class>EscuelaJavaEE.servlets.Eliminarmateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consultarmateria</servlet-name>
        <servlet-class>EscuelaJavaEE.servlets.Consultarmateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizarmateria</servlet-name>
        <servlet-class>EscuelaJavaEE.servlets.Actualizarmateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agregaraula</servlet-name>
        <servlet-class>EscuelaJavaEE.servlets.Agregaraula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consultaraula</servlet-name>
        <servlet-class>EscuelaJavaEE.servlets.Consultaraula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminaraula</servlet-name>
        <servlet-class>EscuelaJavaEE.servlets.Eliminaraula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizaraula</servlet-name>
        <servlet-class>EscuelaJavaEE.servlets.Actualizaraula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agregargrado</servlet-name>
        <servlet-class>EscuelaJavaEE.servlets.Agregargrado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agregargrupo</servlet-name>
        <servlet-class>EscuelaJavaEE.servlets.Agregargrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminargrado</servlet-name>
        <servlet-class>EscuelaJavaEE.servlets.Eliminargrado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminargrupo</servlet-name>
        <servlet-class>EscuelaJavaEE.servlets.Eliminargrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizargrado</servlet-name>
        <servlet-class>EscuelaJavaEE.servlets.Actualizargrado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizargrupo</servlet-name>
        <servlet-class>EscuelaJavaEE.servlets.Actualizargrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consultargrado</servlet-name>
        <servlet-class>EscuelaJavaEE.servlets.Consultargrado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consultargrupo</servlet-name>
        <servlet-class>EscuelaJavaEE.servlets.Consultargrupo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Validacion</servlet-name>
        <url-pattern>/Validaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agregaralumno</servlet-name>
        <url-pattern>/Agregaralumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminaralumno</servlet-name>
        <url-pattern>/Eliminaralumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consultaralumno</servlet-name>
        <url-pattern>/Consultaralumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizaralumno</servlet-name>
        <url-pattern>/Actualizaralumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agregarmateria</servlet-name>
        <url-pattern>/Agregarmateria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminarmateria</servlet-name>
        <url-pattern>/Eliminarmateria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consultarmateria</servlet-name>
        <url-pattern>/Consultarmateria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizarmateria</servlet-name>
        <url-pattern>/Actualizarmateria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agregaraula</servlet-name>
        <url-pattern>/Agregaraula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consultaraula</servlet-name>
        <url-pattern>/Consultaraula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminaraula</servlet-name>
        <url-pattern>/Eliminaraula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizaraula</servlet-name>
        <url-pattern>/Actualizaraula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agregargrado</servlet-name>
        <url-pattern>/Agregargrado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agregargrupo</servlet-name>
        <url-pattern>/Agregargrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminargrado</servlet-name>
        <url-pattern>/Eliminargrado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminargrupo</servlet-name>
        <url-pattern>/Eliminargrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizargrado</servlet-name>
        <url-pattern>/Actualizargrado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizargrupo</servlet-name>
        <url-pattern>/Actualizargrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consultargrado</servlet-name>
        <url-pattern>/Consultargrado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consultargrupo</servlet-name>
        <url-pattern>/Consultargrupo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
