/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/01/2018, 06:02:32 PM
    Author     : rosac
*/

<<<<<<< HEAD
    a:visited{
       
       color: crimson;
       background-color: transparent;    
       font-size: larger;
            
    }
=======
 
>>>>>>> test
    
    table, th, td{
        
        border: 1px  solid cornflowerblue;
        font-family: serif;
        color: brown;
        text-align: center;
        background-color: buttonface;
        
    }
    
<<<<<<< HEAD
    header{
        
        font-family: sans-serif;
        color: brown;
        font-size: xx-large;
        text-align: center;
        
    }
    
    footer{
        
        font-family: sans-serif;
        font-size: x-large;
        color: brown;
        text-align: center;
    }
    
    article{
        font-family: sans-serif;
        font-size: large;
        color: blueviolet;
        text-align: center;
        
    }
    
    body{
        background-color: #333333;
        
    }
=======
  
    
    article{
        font-family: sans-serif;
        font-size: large;
        color: blueviolet;
        text-align: center;
        
    }
    
    body{
        background-color: #333333;
        
    }
    
    header{
            background-color: #333333;
            text-justify: auto;
            color: white;
            font-family: sans-serif;
            font-size: xx-large;
            text-align: center;
                
            }
    
            
            
   a:visited{
            color: white;
            background-color: transparent;    
            }
            

            
    li {
            float: left;
        }
                
                
    ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333333;
                }
                
    li a {
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
            font-family: sans-serif;
            font-size: large;
                }
            
                
    li a:hover {
            background-color: #111111;
               }
               
    label {
            color: white;       
          }
>>>>>>> test
